[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-ps1"]
	path = bundle/vim-ps1
	url = https://github.com/heaths/vim-ps1.git
[submodule "bundle/vim-msbuild"]
	path = bundle/vim-msbuild
	url = https://github.com/heaths/vim-msbuild.git
[submodule "bundle/vim-typescript"]
	path = bundle/vim-typescript
	url = https://github.com/leafgarland/typescript-vim.git
